<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Stanford Classifieds</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "title.css" %}" />
<style>
.slide1 {height: 400px;
		width: 535px;
		border: 5px inset DarkRed;
		margin-bottom: 10px;
		text-align: center;
		position: relative;
		left: 150px;
		}
#content {text-align: center;}
#welcome {position: relative;
		  left: 50px;}
#credit {position: relative;
		 top: 425px;
		 left: 25px;}
</style>
</head>
<body>
<div id="main">
	<div class="navbar navbar-fixed-top">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<div id="banner">
						<a href="/"><img src="{% static "seal.gif" %}" alt="seal" id="seal"/></a>
						<h1>Stanford Classifieds</h1>
						<ul class="nav">
							<li><a href="/">Home</a></li>
							<li><a href="/bikes">Bikes</a></li>
							<li><a href="/textbooks">Textbooks</a></li>
							<li><a href="/post">Post Ad</a></li>
							<li><a href="/saved">Saved</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div id="welcome">
			<h2>Welcome to Stanford Classifieds.</h2>
			<h3>Click a link above to get started.</h3>
		</div>
		<div id="slideshow">
			<img class="slide1" src="{% static "stanford1.jpg" %}" alt="photo"/>
			<img class="slide1" src="{% static "stanford2.jpg" %}" alt="photo"/>
			<img class="slide1" src="{% static "stanford3.jpg" %}" alt="photo"/>
			<img class="slide1" src="{% static "stanford4.jpg" %}" alt="photo"/>
			<img class="slide1" src="{% static "stanford5.jpg" %}" alt="photo"/>
		</div>
	</div>
</div>
<script src=" {% static "jquery-1.7.2.js" %}"></script>
<script src=" {% static "cycle.js" %}"></script>
<script>
$('#slideshow').cycle({ 
    fx: 'fade', 
    speed: 2500
});
</script>
</body>
</html>
