<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title></title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "title.css" %}" />
<style>
#ads {clear: both}
tr, th, td {padding: 15px;
			border-bottom: 1px solid gray;
			border-collapse: collapse;}
table {float: left;}
#displayOps {float: right;
			 border: 1px solid gray;
			 padding: 10px;}
#maxPrice {width: 50px;}
#displayDate, #displayPrice, #lowestPrice {float: right;}
.ops {float: left;
	  margin-bottom: 5px;}
#tableWrap {width: 500px;}
</style>
</head>
<body>
<div id="main">
	<div class="navbar navbar-fixed-top">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<div id="banner">
						<a href="/"><img src="{% static "seal.gif" %}" alt="seal" id="seal"/></a>
						<h1>Stanford Classifieds</h1>
						<ul class="nav">
							<li><a href="/">Home</a></li>
							<li><a href="/bikes">Bikes</a></li>
							<li><a href="/textbooks">Textbooks</a></li>
							<li><a href="/post">Post Ad</a></li>
							<li><a href="/saved">Saved</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
		<h2>Textbook Ads</h2>
		<div id="tableWrap">
			<table id="ads">
			<thead id="adHead">
				<th>Date</th>
				<th>Price</th>
				<th>Link</th>
			</thead>
			<tbody id="adBody">
				{% if textbook_list %}
 
    			{% for entry in textbook_list %}
    				<tr>
    				<td>{{ entry.date }}</td>
    				<td>${{ entry.price }}</td>
    	    		<td><a href="/entry/{{ entry.id }}/">{{ entry.title }}</a>
    	    		</tr>
			    {% endfor %}
			    
				{% else %}
			    <p>No results are available.</p>
			{% endif %}
			</tbody>
			</table>
		</div>
	</div>
</div>
<script>
/*window.onload = generateTable();

function showDescr(index){
	
}

function generateTable(){
	var index = 1;
	var adObj = JSON.parse(localStorage.getItem(index));
	var adBody = document.getElementById("adBody");
	var adHead = document.getElementById("adHead");
	var htmlText = "<tr><th>Date</th><th>Price</th><th>Link</th>";
	
	while (adObj) {
		htmlText += "<tr>";
		htmlText += "<td>" + adObj.date + "</td>";
		htmlText += "<td>" + "$" + adObj.price + "</td>";
		htmlText += "<td title=\"" + adObj.description + "\"/>";
		htmlText += "<a href =\"" + index + ".html\">" + adObj.titleText + "</a></td>";
		htmlText+= "</tr>";
		index++;
		adObj = JSON.parse(localStorage.getItem(index));
	}
	adHead.innerHTML = htmlText;
}

function updateTable() {
	var index = 1;
	var adObj = JSON.parse(localStorage.getItem(index));
	var date = document.getElementById("displayDate").checked;
	var price = document.getElementById("displayPrice").checked;
	var lowestPriceBool = document.getElementById("lowestPrice").checked;
	var lowestPrice = 100000000;
	var maxPrice = parseFloat(document.getElementById("maxPrice").value);
	var adBody = document.getElementById("adBody");
	var adHead = document.getElementById("adHead");
	var minCount=0;
	
	//update the headers
	var htmlText = "<tr>";
	if (date)
		htmlText="<th>Date</th>";
	if (price)
		htmlText+="<th>Price</th>";
	htmlText+="<th>Link</th></tr>";
	adHead.innerHTML = "";
	adHead.innerHTML += htmlText;
	
	adBody.innerHTML ="";
	while (adObj) {
		if (maxPrice) {
			if (adObj.price <= maxPrice){
				if (lowestPriceBool && adObj.price < lowestPrice) {
					lowestPrice = adObj.price;
					htmlText = "<tr id =\"" + minCount + "\"/>";
					minCount++;
				}
				else {
					htmlText = "<tr>";
				}
				if (date)
					htmlText += "<td>" + adObj.date + "</td>"; 
				if (price)
					htmlText += "<td>" + "$" + adObj.price + "</td>";
				htmlText+= "<td title=\"" + adObj.description + "\"/>" + "<a href =\"" + index + ".html\">" + adObj.titleText + "</a></td>";
				htmlText += "</tr>";
				adBody.innerHTML += htmlText;
			}
		} else {
			if (lowestPriceBool && adObj.price < lowestPrice) {
				lowestPrice = adObj.price;
				htmlText = "<tr id =\"" + minCount + "\"/>";
				minCount++;
			}
			else 
				htmlText = "<tr>";
			if (date)
				htmlText += "<td>" + adObj.date + "</td>"; 
			if (price)
				htmlText += "<td>" + "$" + adObj.price + "</td>";
			htmlText+= "<td title=\"" + adObj.description + "\"/>" + "<a href =\"" + index + ".html\">" + adObj.titleText + "</a></td>";
			htmlText += "</tr>";
			adBody.innerHTML += htmlText;
		}
		index++;
		adObj = JSON.parse(localStorage.getItem(index));
	}
	if (lowestPriceBool) {
		document.getElementById(minCount-1).style.backgroundColor = "PowderBlue";
	}
}*/
</script>
</body>
</html>